@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Montserrat&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  background-image: url(/Img/no_logo.jpg);
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
#container {
  margin-top: 40px;
  width: 30rem;
  height: 20rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
  padding: 40px;
  height: auto;
}
#container:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  filter: blur(10px);
  background: inherit;
}

h1 {
  font-family: "Major Mono Display", monospace;
  font-size: 56px;
  margin-bottom: 12px;
}
input {
  border: none;
  margin-top: 10px;
  width: 100%;
  border-bottom: 2px solid rgba(55, 55, 55, 0.5);
  background-color: transparent;
  color: rgba(0, 0, 0, 0.9);
  font-size: 1rem;
  padding: 8px;
}
input:focus {
  outline: none;
}
h2 {
  margin-top: 20px;
}
